* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: black;
  width: 100%;
  height: 100%;

  font-family: "Ubuntu", sans-serif;

  font-style: normal;
  user-select: none;
  
}
#minicircle{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: white;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}
#main {
  width: 100%;
  
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  position: relative;
}
#nav ul li a {
  text-decoration: none;
  color: white;
  font: bold;
}
#nav ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  list-style: none;
}
#heading {
  margin-top: 70px;
}
#heading h1 {
  font-size: 9vw;
  line-height: 1;
  text-transform: uppercase;
  /* opacity: 0.6; */
  font-weight: 900;
  margin-left: 30px;
}
#heading #secondh1 {
  margin-left: 120px;
  font-size: 6vw;
  color: yellow;
  background: rgb(255, 63, 63);
}
#heading h5 {
  text-align: right;
}
.blocktext {
  width: fit-content;
}
#smallheadings {
  margin-top: 100px;
  padding-right: 30px;
}
#smallheadings h4 {
  text-transform: uppercase;
  text-align: right;
  font-size: 1vw;
  font: none;
  margin-top: 0.5vw;
}
#smallheadings h5 {
  text-transform: uppercase;
  text-align: right;
  font-size: 1vw;
  font: none;
  margin-top: 0.5vw;
}
#herofooters {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  width: 100%;
  padding: 4vw;
}
#herofooters a {
  text-transform: lowercase;
  text-decoration: none;
  color: white;
}
#second {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

.elem {
  width: 80%;
  padding: 4vh 5px;
  text-transform: uppercase;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: space-between;
  position: relative; /* Required for absolute positioning of child elements */
}
.elem h1 {
  font-size: 5vw;
  opacity: 0.7;
}
.elem img {
  opacity: 0;
  height: 15vw;
  width: 25vw;
  z-index: 999;
  position: absolute;
  transition: top 0.3s ease, left 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
#about{
    color: white;
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 2px auto;
    align-items: center;
    gap: 2vw;
}
#about img{
    border: 2px solid white;
    border-radius: 250px;
    height: 20vw;
    width: auto;
}
#aboutme{
    width: 60%;
    text-align: justify;
}
#aboutme a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
    margin-top: 20vh;
}
#subscribe{
    padding: 5vw;
    color: white;
    text-transform: uppercase;
}
#subscribe a{
    color: white;
    text-decoration:none;
}
#footer{
    display: flex;
    color: white;
    width:90%;
    justify-content: space-between;
    margin: 2px auto;
}


